
<p>Produced by <a href='sendao@gmail.com'>sendao@gmail.com</a>
<p><a href='https://plus.google.com/116071789985693604821/posts'>Google me</a>

<p><a href='https://www.facebook.com/sendao'>My "Facebook?"</a></p>
<p><a href='https://www.quora.com/profile/Scott-Powell-39'>My Quora!</a></p>

<p><a href='https://youtube.com/sendao84'>I'm on Youtube</a></p>
<p><a href='https://vimeo.com/user9309557'>and Vimeo</a></p>

<p><a href='https://slashdot.org/~descil'>I used to use Slashdot</a></p>

<p><a href='https://sendao.wordpress.com/'>And wordpress</a></p>
<p><a href='https://senthought.wordpress.com/'>And some more wordpress</a></p>

<p>And now I'm here. So feel free to say hello over there!</p>
