
<h2>GCommon</h2>

<p>GCommon is a logic manipulation environment for virtual reality simulation.</p>
<p>Features include primitive constructive solid geometry and navigable 3d environments.</p>
<ul>
 <li>Scripting engine</li>
 <li>Dynamic objects</li>
 <li>Serialization</li>
 <li>Indexed database</li>
 <li>Networked server/client authentication</li>
 <li>Basic shader support</li>
</ul>

<p>Partially supported features include:</p>
<ul>
 <li>Networked backed database cache</li>
 <li>various physics properties (collision, gravity, friction, and momentum)</li>
 <li>advanced shader properties (skin, cloth, etc)</li>
 <li>modelling processes (quite advanced including predictive, chain, and on-demand calculation, as well as model scale resolution shifting which rocks socks)</li>
</ul>

<p>Planned features include:</p>
<ul>
 <li>Shared client/server computation cluster</li>
 <li>advanced geometries/physics (fluids, gasses, electrochemistry)</li>
 <li>model/module integration (eg breeding module+life model)</li>
 <li>lots of models:</li>
 <li><ul>
  <li>solar model: orbitting planets, asteroids, phenomenae</li>
  <li>planet model: plates, landmasses, weather</li>
  <li>seed model: </li>
  <li>tech model</li>
  <li>civilization model</li>
  <li>more...</li>
 </ul></li>
</ul>
