
<p><a href='https://plus.google.com/116071789985693604821/posts'>Google me</a></p>
<p><a href='http://slashdot.org/'>http://slashdot.org/</a></p>
<p><a href='http://sourceforge.net/'>http://sourceforge.net/</a></p>
<p><a href='http://cpan.org/'>http://cpan.org/</a></p>
<p><a href='http://npmjs.com/'>http://www.npmjs.com/</a></p>
<p><a href='https://sourceforge.net/u/descil/'>https://sourceforge.net/u/descil/</a></p>
<p><a href='https://github.com/Sendao'>https://github.com/Sendao</a></p>

