
<h2>Radiance</h2>

<p>Radiance is a clientside template processor that has advanced variable manipulation and tracking capabilities which provide flexible layout and
update/animation options, including intelligent and easy reshaping and sizing, multiple levels of data monitoring for automatic updates, update
schedulers and dynamic variable parsing against a live global variable mesh, along with much more.</p>

<p>It can be found <a href='https://sourceforge.net/projects/radiantjs/'>on Sourceforge</a> or, for a more recent version check out
<a href='https://github.com/Sendao/RadServer'>the radserver on github</a>, which includes the 'Reserve' webserver described below.</p>
