
<h2>
<a href='https://www.youtube.com/watch?v=LJwDbZ3Vzec'>JS Manager</a>
</h2>
<iframe id="ytplayer" type="text/html" width="640" height="390"
  src="https://www.youtube.com/embed/LJwDbZ3Vzec?autoplay=1"
  frameborder="0"></iframe>
<hr>
<p>This is a small webapp developed in <1 day to demonstrate the flexibility of
the RadiantJS template engine as it existed at that point. I had a lot of fun
lining up the data with the view in different places, and while the RadiantJS
engine has moved past this level of functionality, I still enjoy the quaint
reminder of its humble beginnings.</p>

<h2>
<a href='https://www.youtube.com/watch?v=YrHDno_2nU8'>ColoGrav Java Demo</a>
</h2>
<iframe id="ytplayer" type="text/html" width="640" height="390"
  src="https://www.youtube.com/embed/YrHDno_2nU8?autoplay=1"
  frameborder="0"></iframe>
<hr>

<p>Here is an example screensaver written in Java. The core idea behind the
animation is of color-mapped gravity. I wanted to examine how gravity might
work if it was not unilateral. I developed a visualization process whereby
objects are assigned red, green, and blue color levels, and these levels are
then applied to a gravitational lensing layer. The lensing layer as well as
the moving objects are strangely hypnotic in their movements.</p>

<h2>
<a href='https://www.youtube.com/watch?v=hyQI6y7wIAU'>SpiritShare Social Network</a>
</h2>
<iframe id="ytplayer" type="text/html" width="640" height="390"
  src="https://www.youtube.com/embed/hyQI6y7wIAU?autoplay=1"
  frameborder="0"></iframe>
<hr>

<p>SpiritShare was a small social network I set up to pull data from Facebook and
Google, searching for related items when people were posting common data. It was
more of a research site than a social network, but also included the features
needed to interact with facebook's content, as well as some convenient visual
layouts facebook to make it an effective research tool. 
</p>

<h2>
<a href="https://vimeo.com/48566225">SkyGrid Virtual Server Manager</a>
</h2>
<iframe src="https://player.vimeo.com/video/48566225" width="640" height="390" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

<p>SkyGrid was a virtual machine controller to manage AppLogic machines. AppLogic
combines virtual machine functionality with application packaging to provide
application-as-a-service (AAAs? you bet!) support for both hosting and administration
purposes. Features include on-the-fly resizing, machine rebuilds, and assisted
application-sensitive migrations.</p>
