<p>November 24, 2017</p>
<p>Scott Powell<br>
<p>I've just written up this basic site format and launched it onto my old server.
There will be more content here later, I might do some formatting and auto-entries,
eventually there will be a forum and videos and screenshots. People will be able to
submit their own screens and make use of private forums and active chat channels.
That stuff is basically already built into this webserver so it won't be a big deal.
<p>This game has quite a past! And it will continue to grow. I'm hopeful that by
January 25th I can push out a first invite-only version and start to get some really
useful data.
<p>Until then, I'll have a few updates as I achieve various milestones. Of course if
you want to contribute to the project, please feel free to contact me! There are a
lot of areas where I could use some help. The main people I'm looking for are, 1)
a t-shirt designer. You will get a VP title. 2) Programmers, I suppose. 3) Gamers.
Let's talk!
