<p>Here I will place references of various tutorials and such that I have used, as I
re-collect them from where I have them saved in the source code as reference
material.

<p>Also I'll cover some other references.

<p>Since I haven't collected the source references yet, here are the other references.

<ul>
 <li>GLM - for basic math.
 <li>libSendao - for data structures.
 <li>libs png/jpg
 <li>MinGW
 <li>Eclipse
 <li>OpenGL 4.0
 <li>An audio library, maybe several of them.
</ul>
