<ul>


<li>
<p>Dec 1, 2017</p>

<ul>
<li><img src='beach2.png'></li>
</ul>

</li>
<li>
<p>Nov 15, 2017</p>

<ul>
<li><img src='subdivide1.png'></li>
</ul>

</li>

<li>
<p>Nov 8, 2017</p>

<ul>
<li><img src='doyouthinkitwantstorain.png'></li>
</ul>

</li>

<li>
<p>Nov 6, 2017</p>

<ul>
<li><img src='plant2.png'></li>
</ul>

</li>

<li>
<p>Nov 5, 2017</p>

<ul>
<li><img src='plant1.png'></li>
</ul>

</li>
<li>
<p>Oct 30, 2017</p>

<ul>
<li><img src='skel3.png'></li>
<li><img src='skel2.png'></li>
<li><img src='dabbing.png'></li>
</ul>

</li>


<li>
<p>Oct 28, 2017</p>

<ul>
<li><img src='creatureship.png'></li>
</ul>

</li>

<li>
<p>Oct 23, 2017</p>

<ul>
<li><img src='beachsky.png'></li>
</ul>

</li>

<li>
<p>Oct 22, 2017</p>

<ul>
<li><img src='beach1.png'></li>
</ul>

</li>

<li>
<p>Oct 21, 2017</p>

<ul>
<li><img src='joint.png'></li>
</ul>

</li>
<li>
<p>Oct 20, 2017</p>

<ul>
<li><img src='scale1.png'></li>
</ul>

</li>
<li>
<p>Oct 19, 2017</p>

<ul>
<li><img src='weather1.png'></li>
</ul>

</li>
<li>
<p>Oct 17, 2017</p>

<ul>
<li><img src='skel1.png'></li>
</ul>

</li>
<li>
<p>Oct 10, 2017</p>

<ul>
<li><img src='planetmesh.png'></li>
<li><img src='planetmeshfixed.png'></li>
</ul>

</li>


<li>
<p>Oct 9, 2017</p>

<ul>
<li><img src='planetflower.png'></li>
</ul>

</li>

<li>
<p>Oct 5, 2017</p>

<ul>
<li><img src='planet2.png'></li>
<li><img src='planet3.png'></li>
<li><img src='planet4.png'></li>
<li><img src='planet5.png'></li>
</ul>

</li>


</ul>